.wp-block-acme-marketing-blocks-catalog-row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.wp-block-acme-marketing-blocks-catalog-column {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    text-align: center;
}